body { 
    text-align: center; 
}

#gameboard {
    height: 600px; 
    width: 700px; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap
}
.plate {
   background-color: blanchedalmond;
    border-radius: 50%;  
    margin: auto; 
    width: 90px; 
    height: 90px;

}

.playerOne {
    background-image: url(images/waffle\ stack.png);
    border-radius: 50%;  
    margin: auto; 
    width: 90px; 
    height: 90px;
}

.playerTwo {
    background-image: url(images/eggs\ and\ bacon.png);
    border-radius: 50%;  
    margin: auto; 
    width: 90px; 
    height: 90px;
}


.players {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.currPlayer {
    color: black;
}
.darkMode {
    background-color: #121212;
    color: whitesmoke
}